<!DOCTYPE html>

<html>

<head>

    <meta charset="UTF-8">


    <!-- jQuery -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>


    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


    <title>board</title>



    <style>

        body {

            padding-top: 70px;

            padding-bottom: 30px;

        }


    </style>

</head>

<body>

<article>

    <div class="container" role="main">

        <h2>board Form 다답글</h2>



        <form th:action="@{'/board/registerChild/' + ${board.id}}" method="POST">
            <input type="hidden" name="_csrf" value="${_csrf.token}">
<!--            <div>-->
<!--                <label for="parentId">Parent ID:</label>-->
<!--                <input type="number" id="parentId" name="parentId" required>-->
<!--            </div>-->
            <div>
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required th:text="${board.title}">

                <input type="hidden" th:text="${board.parent}" id="parent" name="parent">

            </div>
            <div>
                <label for="content">Content:</label>
                <textarea id="content" name="content" rows="5" required th:text="${board.content}"></textarea>
            </div>
            <button type="submit">Submit</button>
        </form>


        <form action="/board" method="post">
            <div>
                <button type="submit" class="btn btn-sm btn-primary" id="btnList">목록</button>
            </div>
                </form>





    </div>

    </div>

</article>

</body>

</html>