<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>부트스트랩 테이블</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <style>
        .disabled {
            display: none;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function() {
            let startPage1 = Math.max(currentPage - pageSize, 1);
            let endPage1 = Math.min(currentPage + pageSize, endPage);
            let maxStartPage1 = Math.max(...Array.from({length: currentPage - Math.max(currentPage - pageSize, 1)}).map((_, i) => i + Math.max(currentPage - pageSize, 1)));

            let minEndPage1 = Math.min(...Array.from({length: endPage1 - currentPage}).map((_, i) => currentPage + i + 1));
            let pages = Array.from({length: endPage1 - startPage1 + 1}).map((_, i) => startPage1 + i);

            for (let i = 0; i < pages.length; i++) {
                let page = pages[i];
                let isActive = page === currentPage;
                let liClass = isActive ? 'page-item active' : 'page-item';
                let aHref = `/?page=${page}`;
                let aText = `${page}`;

            }
        });


    </script>

</head>

<body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<div class="container">
    <h2>Basic Table</h2>
    <form action="/board/register" method="get">
        <button>게시글 작성</button>
    </form>

    <form action="/*{id}" method="post">


        <table class="table table-striped">
            <thead>
            <tr>
                <th>No</th>
                <th>제목</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td th:text="${board.id}">글번호</td>
                <td><a th:text="${board?.title} ?: '제목 없음'" th:href="@{/{id}(id=${board?.id})}">제목</a></td>
            </tr>

            </tbody>
        </table>
    </form>

    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item" th:class="${hasPrevious} ? 'page-item' : 'page-item disabled'">
                <a class="page-link" th:href="@{'/?page=' + 1}" th:text="'&lt;&lt;'"></a>
            </li>
            <li class="page-item" th:class="${hasPrevious} ? 'page-item' : 'page-item disabled'">
                <a class="page-link" th:href="@{'/?page=' + ${startPage - 1}}" th:text="'&lt;'"></a>
            </li>

                <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                    <li th:class="${page == currentPage} ? 'page-item active' : 'page-item'">
                        <a class="page-link" th:href="@{'/?page=' + ${page}}" th:text="${page}" th:data-page="${page}"></a>
                    </li>
                </th:block>

            <li class="page-item" th:class="${hasNext} ? 'page-item' : 'page-item disabled'">
                <a class="page-link" th:href="@{'/?page=' + ${endPage + 1}}" th:text="'&gt;'"></a>
            </li>
            <li class="page-item" th:class="${hasNext} ? 'page-item' : 'page-item disabled'">
                <a class="page-link" th:href="@{'/?page=' + ${totalPages}}" th:text="'&gt;&gt;'"></a>
            </li>
        </ul>
    </nav>


</div>
</body>
</html>